#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

img[src*="tCuYIAb.png"] {
  position: fixed;
  bottom: 0px;
}

.imageContainer {
  position: relative;
  float: right;
}

.content {
  position: absolute;
  overflow: auto;
  top: 45%;
  left: 45%;
  height: 300px;
  width: 300px;
  padding: 3px;
  transform: translate(-50%, -50%);
  background: transparent;
}

img[src*="TLbSVMR.png"] {
  height: 550px;
  width: 550px;
  opacity: 100;
}

.content {
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.h1 {
  position: fix;
  margin-right: 700px;
  text-shadow: 4px 4px 25px rgba(247, 247, 247, 1);
}   

.h2 {
  position: fix;
  margin-right: 700px;
  font-size: 30px;
  text-shadow: 3px 3px 2px rgba(255, 151, 41, 1),3px 3px 25px rgba(247, 146, 40, 1),4px 4px 25px rgba(247, 247, 247, 1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}
